
.toolbar-icon-minecraft-core-overview:before {
  background-image: url(../icons/creeper.svg);
}
.toolbar-icon-minecraft-core-overview:active:before,
.toolbar-icon-minecraft-core-overview.is-active:before {
  background-image: url(../icons/creeper.svg);
}
