{#
/**
 * @file minecraft_player.html.twig
 * Default theme implementation to present Player data.
 *
 * This template is used when viewing Player pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_minecraft_player()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('minecraft_player') }}>

  {% if content %}
    {{- content -}}
  {% endif %}
</div>
